absl-py==1.0.0
anyio==3.5.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.5.0
asttokens==2.0.5
astunparse==1.6.3
async-timeout==4.0.2
attrs==21.4.0
automata-lib==6.0.2
autopep8==1.6.0
Babel==2.10.3
backcall==0.2.0
beautifulsoup4==4.10.0
black==22.3.0
bleach==5.0.1
build==0.8.0
cachetools==5.0.0
certifi==2021.10.8
cffi==1.15.1
charset-normalizer==2.0.11
click==8.0.3
cloudpickle==2.1.0
colorama==0.4.4
colormath==3.0.0
cycler==0.11.0
dask==2022.6.0
debugpy==1.6.0
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.13
distlib==0.3.4
Django==4.0.2
django-cors-headers==4.0.0
djangorestframework==3.13.1
entrypoints==0.4
et-xmlfile==1.1.0
executing==0.8.3
Faker==13.13.0
fastapi==0.73.0
fastjsonschema==2.16.2
feather-format==0.4.1
filelock==3.4.2
Flask==2.0.2
flatbuffers==23.3.3
fonttools==4.29.1
forbiddenfruit==0.1.4
fsspec==2022.5.0
future==0.18.2
gast==0.4.0
geographiclib==1.52
geopy==2.2.0
google-auth==2.17.3
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
graphviz==0.20.1
grpcio==1.53.0
gunicorn==20.1.0
h5py==3.6.0
html5lib==1.1
huggingface-hub==0.4.0
idna==3.3
imutils==0.5.4
ipykernel==6.13.0
ipython==8.3.0
ipython-genutils==0.2.0
iso8601==1.0.2
itsdangerous==2.0.1
jax==0.4.8
jedi==0.18.1
Jinja2==3.0.3
joblib==1.1.0
json5==0.9.10
jsonschema==4.16.0
jupyter-client==7.3.1
jupyter-core==4.10.0
jupyter-server==1.21.0
jupyterlab==3.4.8
jupyterlab-pygments==0.2.2
jupyterlab_server==2.16.1
kaggle==1.5.12
keras==2.12.0
keras-efficientnet-v2==1.2.2
Keras-Preprocessing==1.1.2
kiwisolver==1.3.2
libclang==13.0.0
locket==1.0.0
lxml==4.9.2
Markdown==3.3.6
MarkupSafe==2.0.1
matplotlib==3.5.1
matplotlib-inline==0.1.3
mediapipe==0.8.9.1
mistune==2.0.4
ml-dtypes==0.1.0
mypy-extensions==0.4.3
nbclassic==0.4.5
nbclient==0.7.0
nbconvert==7.2.2
nbformat==5.7.0
nest-asyncio==1.5.5
networkx==2.8.7
notebook==6.5.1
notebook_shim==0.2.0
numpy==1.22.1
oauthlib==3.2.0
opencv-contrib-python==4.5.5.62
openpyxl==3.0.10
opt-einsum==3.3.0
packaging==21.3
pandas==1.4.0
pandocfilters==1.5.0
parso==0.8.3
partd==1.2.0
pathspec==0.9.0
pdf2img==0.1.2
pep517==0.12.0
pickleshare==0.7.5
Pillow==9.0.1
pip-tools==6.8.0
platformdirs==2.4.1
prometheus-client==0.15.0
prompt-toolkit==3.0.29
protobuf==4.22.3
psutil==5.9.1
pure-eval==0.2.2
pyarrow==8.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.8.0
pycparser==2.21
pydantic==1.9.0
pydot==1.4.2
Pygments==2.12.0
pyparsing==3.0.7
PyPDF2==2.11.1
pyrsistent==0.18.1
pyserial==3.5
python-dateutil==2.8.2
python-decouple==3.6
python-dotenv==0.20.0
python-slugify==6.1.1
pytz==2021.3
pywin32==304
pywinpty==2.0.8
PyYAML==6.0
pyzmq==23.0.0
redis==4.3.4
regex==2022.3.2
requests==2.27.1
requests-oauthlib==1.3.1
rsa==4.8
sacremoses==0.0.47
scikit-learn==1.1.1
scipy==1.7.3
seaborn==0.11.2
Send2Trash==1.8.0
six==1.16.0
sniffio==1.2.0
soupsieve==2.3.1
sqlparse==0.4.2
stack-data==0.2.0
starlette==0.17.1
tensorboard==2.12.2
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
tensorflow==2.12.0
tensorflow-estimator==2.12.0
tensorflow-intel==2.12.0
tensorflow-io-gcs-filesystem==0.23.1
termcolor==1.1.0
terminado==0.16.0
text-unidecode==1.3
tf-estimator-nightly==2.8.0.dev2021122109
threadpoolctl==3.1.0
tinycss2==1.2.1
tokenizers==0.11.6
toml==0.10.2
tomli==2.0.1
toolz==0.11.2
tornado==6.1
tqdm==4.63.0
traitlets==5.5.0
transformers==4.17.0
tweepy==4.9.0
typing_extensions==4.0.1
tzdata==2021.5
urllib3==1.24.3
virtualenv==20.13.0
visual-automata==1.1.1
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.4.1
Werkzeug==2.0.2
wrapt==1.13.3
